<div class="main-content">

    <form class="form-login" ng-submit="login()">

        <div class="form-log-in-with-email">

            <div class="form-white-background">

                <div class="form-title-row">
                    <h1>Log in</h1>
                </div>

                <div class="form-row">
                    <label>
                        <span>User Name</span>
                        <input type="text" ng-model="signin.username">
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Password</span>
                        <input type="password" ng-model="signin.password">
                    </label>
                </div>

                <div class="form-row">
                    <button type="submit" ng-click="val=!val" >Log in</button>
                </div>

            </div>

            <a href="#" class="form-forgotten-password">Forgotten password &middot;</a>
            <a href="#register" class="form-create-an-account">Create an account &rarr;</a>

        </div>

        <div class="form-sign-in-with-social">

            <div class="form-row form-title-row">
                <span class="form-title">Sign in with</span>
            </div>

            <a href="#" class="form-google-button">Google</a>
            <a href="#" class="form-facebook-button">Facebook</a>
            <a href="#" class="form-twitter-button">Twitter</a>

        </div>
    </form>
</div>
